# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.wild-west-dodgeball.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tcare\Unity\wild-west-dodgeball\.idea\.idea.wild-west-dodgeball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
